core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
static/documentation/credentials.json
drive_helper.py
static/uploads/
# Cloudinary config file
config.py