/* General styles */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Reset default margin, padding, and border for all elements */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #444444;
  min-height: 100vh;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

main {
  flex: 1 0 auto;
}

.custom-icon-nav,
.custom-icon-footer {
  font-size: 1.5em;
  text
}

/* Navbar */
.custom-navbar {
  padding-left: 30px;
  padding-right: 30px;
}
/* Logo */
.navbar-brand {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-setup {
  font-size: 1.6em;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  margin-left: 10px;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: #ffb74d !important;
}

/* Footer */

.logo-footer:hover {
  color: #ffb74d !important;
  text-decoration: none;
}

.email-link:hover {
  color: #ffb74d !important;
  text-decoration: none;
}

.social-icons a .fab {
  font-size: 1.8em;
  vertical-align: middle;
}

.social-icons ul {
  display: flex;
  align-items: center;
}

.social-icons li {
  margin: 15px 20px;
}

.social-icons a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4em;
}

.social-icons a:hover {
  color: #ffb74d !important;
}

/* Index Page */
.carousel-inner img {
  width: 100%;
  height: auto;
  max-height: 68vh; 
  object-fit: cover;
}
/* Login Page */

.form-signin {
  max-width: 650px;
  padding: 30px;
  margin: auto;
  text-align: center;
}

.checkbox {
  font-weight: 400;
}

.form-floating:focus-within {
  z-index: 2;
}

.btn-primary {
  background-color: #198754;
  border: none;
}

.btn-primary:hover {
  background-color: #ffb74d;
}

/* Media queries for responsive design */
/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {

  .col-lg-4 h4 {
    margin-top: 10px;

  }

  .social-icons ul {
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
  }

  .social-icons li {
    margin: 0 10px;
  }
}

/* Small devices (landscape phones, less than 600px) */
@media (max-width: 600px) {
  .custom-icon-nav {
    display: none !important;
  }

  .brand-logo-text {
    font-size: 18px;
  }
}

/* Extra small devices (phones, less than 415px) */
@media (max-width: 415px) {
  .custom-brand-top {
    font-size: 1.3em;
  }
}

/* Extra extra small devices (small phones, less than 355px) */
@media (max-width: 355px) {
  .custom-brand-top {
    font-size: 1.2em;
  }
}