/* General styles */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Reset default margin, padding, and border for all elements */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #444444;
  min-height: 100vh;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

main {
  flex: 1 0 auto;
}

/* Navbar */
/* Logo */
.navbar-brand {
  display: flex;
  align-items: center;
  margin-left: 10px;
  height: 100%;
}

.logo-setup {
  font-size: 1.8em;
  font-family: "Playfair Display", serif;
  text-decoration: none;
}

.logo-setup:hover {
  color: #ffb74d !important;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: #ffb74d !important;
}

/* Footer */

.logo-footer:hover {
  color: #ffb74d !important;
  text-decoration: none;
}

.email-link:hover {
  color: #ffb74d !important;
  text-decoration: none;
}

.social-icons a .fab {
  font-size: 1.8em;
  vertical-align: middle;
}

.social-icons ul {
  display: flex;
  align-items: center;
}

.social-icons li {
  margin: 15px 20px;
}

.social-icons a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4em;
}

.social-icons a:hover {
  color: #ffb74d !important;
}

/* Index Page */
.index-box-1,
.index-box-2 {
  margin-top: 50px;
  padding: 10;
  text-align: center;
}

/* Media queries for responsive design */
@media (max-width: 993px) {
  .page-footer .container .row {
    text-align: center;
    justify-content: center;
  }

  .page-footer .col {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
  }

  .social-icons ul {
    flex-direction: row;
    justify-content: center;
  }

  .social-icons li {
    margin: 0 10px;
  }
}

@media (max-width: 600px) {
  .brand-logo i {
    display: none;
  }

  .brand-logo-text {
    font-size: 18px;
  }
}

@media (max-width: 315px) {
  .brand-logo-text {
    font-size: 15px;
  }
}
