<!DOCTYPE html>
<html lang="en">

<head>
    {% block head_content %}
    <!-- Meta tags for character set and responsive design -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Metadata for SEO -->
    <meta name="description"
        content="Learn about knee surgery and joint treatments. Find comprehensive information for patients and doctors!">
    <meta name="keywords" content="knee surgery, joint treatment, orthopedic, patient care, medical records, doctor appointments">
    <meta name="author" content="Artem Bryzh">
    <meta name="robots" content="index, follow">

    <!-- Open Graph Metadata for Social Media -->
    <meta property="og:title" content="The Knee Surgery - Comprehensive Knee and Joint Treatment Information">
    <meta property="og:description"
        content="Discover everything you need to know about knee surgery and joint treatment.">

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    <!-- Theme Color -->
    <meta name="theme-color" content="#343a40">

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <!-- Title -->
    <title>{% block title %}Default Title{% endblock %}</title>
    {% endblock %}
</head>

<body>

    <!-- Header section -->
    <header>
        {% block nav_content %}
        <!-- Main navigation section -->
        <nav>
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo">Logo</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">Javascript</a></li>
                <li><a href="mobile.html">Mobile</a></li>
              </ul>
            </div>
          </nav>
        
          <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
          </ul>
          {% endblock %}
    </header>

    <main>
    {% block content %}
    {% endblock %}
    </main>

    <!-- Footer section -->
    <footer>
        {% block footer_content %}
        {% endblock %}
    </footer>

    {% block scripts %}
    <!--Script for icons "Font Awesome"-->
    <script src="https://kit.fontawesome.com/d63b433288.js" crossorigin="anonymous"></script>
    
    <!-- jQuery library, version 3.7.1 -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}

</body>

</html>