<!DOCTYPE html>
<html lang="en">

<head>
  {% block head_content %}
  <!-- Meta tags for character set and responsive design -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Metadata for SEO -->
  <meta name="description"
    content="Learn about knee surgery and joint treatments. Find comprehensive information for patients and doctors!">
  <meta name="keywords"
    content="knee surgery, joint treatment, orthopedic, patient care, medical records, doctor appointments">
  <meta name="author" content="Artem Bryzh">
  <meta name="robots" content="index, follow">

  <!-- Open Graph Metadata for Social Media -->
  <meta property="og:title" content="The Knee Surgery - Comprehensive Knee and Joint Treatment Information">
  <meta property="og:description"
    content="Discover everything you need to know about knee surgery and joint treatment.">

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

  <!-- Theme Color -->
  <meta name="theme-color" content="#343a40">

  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

  <!-- Title -->
  <title>{% block title %}Default Title{% endblock %}</title>
  {% endblock %}
</head>

<body>

  <!-- Header section -->
  <header>
    {% block nav_content %}
    <!-- Main navigation section -->
    <nav class="navbar navbar-expand-lg bg-success navbar-dark">

      <!-- Brand logo -->
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <i class="fa-solid fa-hospital"></i><h1 id="logo" class="ml-2">The Knee Surgery</h1>
      </a>

      <!-- Navigation toggler button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">About us</a>
          </li>
        </ul>
      </div>
    </nav>

    {% endblock %}
  </header>

  <main>
    {% block content %}
    {% endblock %}

    <!-- Footer section -->
 
    {% block footer_content %}
    {% endblock %}

    {% block scripts %}
    <!--Script for icons "Font Awesome"-->
    <script src="https://kit.fontawesome.com/d63b433288.js" crossorigin="anonymous"></script>

    <!-- jQuery library, version 3.7.1 -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- Popper.js, required for Bootstrap's JavaScript plugins -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq7g4a2KUZU7tCJ7zqOq6EYzV1B5H6a5R/1c1+P6UksL3Q" crossorigin="anonymous"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgMb5dsNN0P6YbJ5g0MUtxh3ON+LcCE2w5FgqOnDHEbRZPYfR4X" crossorigin="anonymous"></script>

    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
</body>

</html>