{% extends "base.html" %} {% block title %}Our Doctors{% endblock %} {% block
content %}
<main class="container">
  <h2 class="mt-5">Meet Our Doctors</h2>
  <div class="row g-4 mt-3">
    <div class="col-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ url_for('static', filename='images/doctors/john-doe-600.webp') }}"
              class="img-fluid rounded-start"
              alt="Doctor 1"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Dr. John Doe</h5>
              <p class="card-text">Orthopedic Surgeon</p>
              <p class="card-text">
                Dr. John Doe is a leading orthopedic surgeon with over 20 years
                of experience. He specializes in knee and joint surgeries,
                providing top-notch care to all his patients.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ url_for('static', filename='images/doctors/jane-smith-600.webp') }}"
              class="img-fluid rounded-start"
              alt="Doctor 2"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Dr. Jane Smith</h5>
              <p class="card-text">Rheumatologist</p>
              <p class="card-text">
                Dr. Jane Smith is a renowned rheumatologist with a passion for
                helping patients manage chronic pain and autoimmune diseases.
                She is dedicated to improving the quality of life for her
                patients.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ url_for('static', filename='images/doctors/emily-johnson-600.webp') }}"
              class="img-fluid rounded-start"
              alt="Doctor 3"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Dr. Emily Johnson</h5>
              <p class="card-text">Physical Therapist</p>
              <p class="card-text">
                Dr. Emily Johnson is an experienced physical therapist
                specializing in rehabilitation and recovery. She works closely
                with patients to develop personalized treatment plans for
                optimal outcomes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ url_for('static', filename='images/doctors/michael-brown-600.webp') }}"
              class="img-fluid rounded-start"
              alt="Doctor 4"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Dr. Michael Brown</h5>
              <p class="card-text">Injection Specialist</p>
              <p class="card-text">
                Dr. Michael Brown is a seasoned medical professional
                specializing in injection procedures. With expertise in
                precision and patient care, he focuses on administering
                treatments tailored to individual needs for effective results.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %} {% block footer_content %}{% endblock %} {% block scripts %}{%
endblock %}
