{% extends "base.html" %} {% block title %}Our Doctors{% endblock %} {% block
content %}
<main class="container">
  <h2 class="mt-5 text-center">Meet Our Doctors</h2>
  <div class="row g-4 mt-3">
    {% for doctor in doctors %}
    <div class="col-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ url_for('static', filename=get_image_path(doctor.image)) }}"
              class="img-fluid rounded-start"
              alt="{{ doctor.name }}"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ doctor.name }}</h5>
              <p class="card-text">{{ doctor.specialty }}</p>
              <p class="card-text">{{ doctor.description }}</p>
              <p class="card-text-hide">{{ doctor.additional_info }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %} {% block footer_content %}{% endblock %} {% block scripts %}{%
endblock %}
