{% extends "base.html" %} {% block title %}The Knee Surgery | Home page{%
endblock %} {% block content %}
<!-- Carousel -->
<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <picture>
        <source
          media="(max-width: 600px)"
          srcset="{{ url_for('static', filename='images/index/mobile/hospital-reception-small.jpg') }}"
        />
        <source
          media="(max-width: 1200px)"
          srcset="{{ url_for('static', filename='images/index/tablet/hospital-reception-medium.jpg') }}"
        />
        <img
          src="{{ url_for('static', filename='images/index/desktop/hospital-reception-1920-1050.jpg') }}"
          class="d-block w-100"
          alt="First slide"
        />
      </picture>
      <!-- <img
        src="{{ url_for('static', filename='images/index/hospital-reception-650-320.jpg') }}"
        class="d-block w-100"
        alt="First slide"
      /> -->
      <div class="carousel-caption d-none d-md-block">
        <h5>First Slide</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <picture>
        <source
          media="(max-width: 600px)"
          srcset="{{ url_for('static', filename='images/index/mobile/x-ray-small.jpg') }}"
        />
        <source
          media="(max-width: 1200px)"
          srcset="{{ url_for('static', filename='images/index/tablet/x-ray-medium.jpg') }}"
        />
        <img
          src="{{ url_for('static', filename='images/index/desktop/x-ray-1920-1050.jpg') }}"
          class="d-block w-100"
          alt="Second slide"
        />
      </picture>
      <!-- <img
        src="{{ url_for('static', filename='images/index/health-x-ray-650-320.jpg') }}"
        class="d-block w-100"
        alt="Second slide"
      /> -->
      <div class="carousel-caption d-none d-md-block">
        <h5>Second Slide</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <picture>
        <source
          media="(max-width: 600px)"
          srcset="{{ url_for('static', filename='images/index/mobile/operating-theatre-small.jpg') }}"
        />
        <source
          media="(max-width: 1200px)"
          srcset="{{ url_for('static', filename='images/index/tablet/operating-theatre-medium.jpg') }}"
        />
        <img
          src="{{ url_for('static', filename='images/index/desktop/x-ray-1920-1050.jpg') }}"
          class="d-block w-100"
          alt="Third slide"
        />
      </picture>
      <!-- <img
        src="{{ url_for('static', filename='images/index/operating-theatre-650-320.jpg') }}"
        class="d-block w-100"
        alt="Third slide"
      /> -->
      <div class="carousel-caption d-none d-md-block">
        <h5>Third Slide</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <picture>
        <source
          media="(max-width: 600px)"
          srcset="{{ url_for('static', filename='images/index/mobile/room-of-an-hospital-small.jpg') }}"
        />
        <source
          media="(max-width: 1200px)"
          srcset="{{ url_for('static', filename='images/index/tablet/room-of-an-hospital-medium.jpg') }}"
        />
        <img
          src="{{ url_for('static', filename='images/index/desktop/room-of-an-hospital-1920-1050.jpg') }}"
          class="d-block w-100"
          alt="Fourth slide"
        />
      </picture>
      <!-- <img
        src="{{ url_for('static', filename='images/index/room-of-hospital-650-320.jpg') }}"
        class="d-block w-100"
        alt="Fourth slide"
      /> -->
      <div class="carousel-caption d-none d-md-block">
        <h5>Fourth Slide</h5>
        <p>Some representative placeholder content for the fourth slide.</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %} {% block footer_content %}{% endblock %} {% block scripts %}{%
endblock %}
