{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block
  content %}
  <main class="container">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} mt-3">
      <h2 class="h2 mb-3 fw-normal">{{ message }}</h2>
    </div>
    {% endfor %} {% endif %} {% endwith %}
  
    <h2 class="mt-5">Profile</h2>
  
    <!-- User Information -->
    <div class="card mb-3">
      <div class="card-header">
        <h3>User Information</h3>
      </div>
      <div class="card-body">
        <form id="editUserForm">
          <input type="hidden" id="userRole" value="{{ role }}">
          <input type="hidden" id="viewingAsAdmin" value="{{ 'true' if viewing_as_admin else 'false' }}">
          <input type="hidden" id="editUserIdInput" name="user_id" value="{{ user._id }}">
          <p>
            <strong>Name:</strong> <span id="nameText">{{ user.name }}</span>
            <input
              type="text"
              id="nameInput"
              class="d-none form-control"
              name="name"
              value="{{ user.name }}"
            />
          </p>
          <p>
            <strong>Role:</strong> <span id="roleText">{{ user.role }}</span>
            <input
              type="text"
              id="roleInput"
              class="d-none form-control"
              name="role"
              value="{{ user.role }}"
              {%
              if
              user.role
              !="admin"
              %}
              readonly
              {%
              endif
              %}
            />
          </p>
          <p>
            <strong>Phone:</strong> <span id="phoneText">{{ user.phone }}</span>
            <input
              type="text"
              id="phoneInput"
              class="d-none form-control"
              name="phone"
              value="{{ user.phone }}"
            />
          </p>
          <p>
            <strong>Email:</strong> <span id="emailText">{{ user.email }}</span>
            <input
              type="text"
              id="emailInput"
              class="d-none form-control"
              name="email"
              value="{{ user.email }}"
            />
          </p>
          {% if user.role == "patient" %}
          <p>
            <strong>Gender:</strong>
            <span id="genderText">{{ user.gender }}</span>
            <div class="form-floating d-none" id="genderInputContainer">
              <select class="form-control" id="genderInput" name="gender">
                <option value="">Select Gender</option>
                <option value="male" {% if user.gender == "male" %}selected{% endif %}>Male</option>
                <option value="female" {% if user.gender == "female" %}selected{% endif %}>Female</option>
                <option value="other" {% if user.gender == "other" %}selected{% endif %}>Other</option>
              </select>
              <label for="genderInput">Gender</label>
            </div>
          </p>
          <p>
            <strong>Date of Birth:</strong>
            <span id="dobText">{{ user.dob or 'N/A' }}</span>
            <input
              type="date"
              id="dobInput"
              class="d-none form-control"
              name="dob"
              value="{{ user.dob }}"
            />
          </p>
          {% endif %}

          {% if user.role == "doctor" %}
          <p>
            <strong>Specialty:</strong> <span>{{ user.specialty }}</span>
            <input
              type="text"
              class="d-none form-control"
              name="specialty"
              value="{{ user.specialty }}"
            />
          </p>
          {% endif %}
          <div id="currentPasswordDiv" class="d-none">
            <p>
              <strong>Current Password:</strong>
              <input
                type="password"
                id="currentPasswordInput"
                class="form-control"
                name="current_password"
                required
              />
            </p>
          </div>
          <div class="d-flex justify-content-start">
            <button type="button" id="editButton" class="btn btn-primary">
              Edit
            </button>
            <button
              type="button"
              id="saveButton"
              class="btn btn-success d-none ms-2"
              disabled
            >
              Save
            </button>
            <button
              type="button"
              id="cancelButton"
              class="btn btn-danger d-none ms-2"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Change Password -->
    <div class="card mb-3">
      <div class="card-header">
        <h3>Change Password</h3>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-secondary" id="togglePasswordForm">Change Password</button>
        <form id="changePasswordForm" class="d-none mt-3" method="POST" action="{{ url_for('change_password') }}">
          <input type="hidden" name="user_id" value="{{ user._id }}">

          <div class="mb-3">
            <label for="currentPassword" class="form-label">Current Password</label>
            <input type="password" class="form-control" id="currentPassword" name="current_password" required>
          </div>

          <!-- New Password input field with floating label -->
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="new_password"
              placeholder="New Password"
              required
              minlength="8"
              pattern="(?=.*\d)(?=.*[A-Z]).{8,}"
              title="Password must contain at least 8 characters, including UPPERCASE letters and numbers"
              onkeyup="validatePassword('newPassword', 'password-requirements-change')"
            />
            <label for="newPassword">New Password</label>
            <span class="password-toggle" onclick="togglePasswordVisibility('newPassword', 'new-password-icon')">
              <i id="new-password-icon" class="fa-regular fa-eye"></i>
            </span>
          </div>

          <!-- Password requirements -->
          <div id="password-requirements-change" class="mb-3">
            <p id="length-change" class="neutral me-3"><i class="fa-solid fa-check me-1"></i>At least 8 characters</p>
            <p id="uppercase-change" class="neutral me-3"><i class="fa-solid fa-check me-1"></i>An uppercase letter</p>
            <p id="number-change" class="neutral"><i class="fa-solid fa-check me-1"></i>At least one number</p>
          </div>

          <!-- Confirm New Password input field with floating label -->
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              id="confirmNewPassword"
              name="confirm_new_password"
              placeholder="Confirm New Password"
              required
              onkeyup="validateConfirmPassword('newPassword', 'confirmNewPassword')"
            />
            <label for="confirmNewPassword">Confirm New Password</label>
            <span class="password-toggle" onclick="togglePasswordVisibility('confirmNewPassword', 'confirm-new-password-icon')">
              <i id="confirm-new-password-icon" class="fa-regular fa-eye"></i>
            </span>
          </div>

          <button type="submit" class="btn btn-primary">Update Password</button>
        </form>
      </div>
    </div>

    {% if user.role == "admin" %}
    <!-- Appointment Requests Section -->
    <div class="card mb-3">
        <div class="card-header">
            <h3>Appointment Requests</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Patient Name</th>
                            <th scope="col">Reason</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for appointment in appointment_requests %}
                        <tr>
                            <td>
                                <a href="{{ url_for('profile', username=appointment.patient_email) }}">
                                    {{ appointment.patient_name }}
                                </a>
                            </td>
                            <td>{{ appointment.reason }}</td>
                            <td>
                                <form method="POST" action="{{ url_for('assign_appointment') }}" style="display: inline">
                                    <input type="hidden" name="appointment_id" value="{{ appointment._id }}" />
                                    <select name="doctor_id" required>
                                        <option value="">Select Doctor</option>
                                        {% for doctor in doctors %}
                                        <option value="{{ doctor._id }}">{{ doctor.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-primary">Assign Doctor</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
   
    {% if user.role == "doctor" %}
    <!-- Assigned Patients Section -->
    <div class="card mb-3">
        <div class="card-header">
            <h3>Assigned Patients</h3>
        </div>
        <div class="card-body">
            {% if assigned_patients %}
            <ul class="list-group">
                {% for appointment in assigned_patients %}
                <li class="list-group-item">
                    <p><strong>Patient:</strong> <a href="{{ url_for('profile', username=appointment.patient_email) }}">{{ appointment.patient_name }}</a></p>
                    <p><strong>Reason:</strong> {{ appointment.reason }}</p>
                    <p><strong>Date:</strong> {{ appointment.date_requested.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No assigned patients.</p>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <!-- Display Uploaded Files -->
    <div class="card mb-3">
      <div class="card-header">
          <h3>Uploaded Files</h3>
      </div>
      <div class="card-body">
          <ul class="list-group" id="uploaded-files-list">
              {% for file in user_files %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ file.file_url }}" target="_blank">{{ file.file_name }}</a>
                <form action="{{ url_for('delete_file') }}" method="post" style="display:inline;" class="delete-file-form">
                    <input type="hidden" name="file_id" value="{{ file.file_id }}">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
              </li>
              {% endfor %}
          </ul>
          {% if not user_files %}
          <p id="no-files-message">No files uploaded.</p>
          {% endif %}
      </div>
    </div>

    <!-- File Upload Section -->
    <div class="card mb-3">
      <div class="card-header">
        <h3>Upload Documents</h3>
      </div>
      <div class="card-body">
        <form id="uploadForm" enctype="multipart/form-data">
          <input type="hidden" id="uploadUserIdInput" name="user_id" value="{{ user._id }}">
          <div class="mb-3">
              <label for="fileInput" class="form-label">Upload File</label>
              <input class="form-control" type="file" id="fileInput" name="file">
          </div>
          <div class="mb-3">
              <label for="fileType" class="form-label">File Type</label>
              <select class="form-select" id="fileType" name="file_type">
                  <option value="medical_record">Medical Record</option>
                  <option value="analysis">Analysis</option>
                  <option value="profile_picture">Profile Picture</option>
                  <option value="other">Other</option>
              </select>
          </div>
          <button type="button" id="uploadButton" class="btn btn-primary">Upload</button>
        </form>
      </div>
    </div>
  
  {% if user.role == "admin" %}
  <div class="d-flex justify-content-center mt-4 mb-4">
    <a href="{{ url_for('admin_users') }}" class="btn btn-primary btn-lg square-button">All Users</a>
    <a href="{{ url_for('add_doctor') }}" class="btn btn-primary btn-lg square-button ms-5">Add Doctor</a>
  </div>
  {% endif %}
  
    <!-- Medical Records -->
    <div class="card mb-3">
      <div class="card-header">
        <h3>Medical Records</h3>
      </div>
      <div class="card-body">
        {% if medical_records %}
        <ul class="list-group">
          {% for record in medical_records %}
          <li class="list-group-item">
            <p><strong>Description:</strong> {{ record.description }}</p>
            <p><strong>Treatment:</strong> {{ record.treatment }}</p>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No medical records found.</p>
        {% endif %}
      </div>
    </div>

    {% if user.role == "patient" %}
    <!-- Appointment Request Form -->
    <div class="card mb-3">
      <div class="card-header">
        <h3>Request an Appointment</h3>
      </div>
      <div class="card-body">
        <form id="appointmentRequestForm" method="POST" action="{{ url_for('request_appointment') }}">
          <input type="hidden" name="patient_id" value="{{ user._id }}">
          <div class="mb-3">
            <label for="appointmentReason" class="form-label">Reason for Appointment</label>
            <textarea class="form-control" id="appointmentReason" name="reason" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Request Appointment</button>
        </form>
      </div>
    </div>
    {% endif %}
  </main>
  {% endblock %} {% block footer_content %}{% endblock %} {% block scripts %}{% endblock %}