{% extends "base.html" %} {% block title %}The Knee Surgery | Sign Up Page{%
endblock %} {% block content %}

<!-- Bootstrap Sign Up Form -->
<main class="form-sign">
  <form method="POST" action="{{ url_for('signup') }}">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class=""><h3 class="h3 mb-3 fw-normal alert alert-{{ category }}">{{ message }}</h2></div>
    {% endfor %} {% endif %} {% endwith %}
    <h2 class="h2 mb-3 fw-normal">Create Your Account</h2>
    
    <!-- Name input field with floating label -->
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingName"
        name="name"
        placeholder="Full Name"
        required
      />
      <label for="floatingName">Full Name</label>
    </div>

    <!-- Gender input field with floating label -->
    <div class="form-floating mb-3">
      <select class="form-control" id="floatingGender" name="gender" required>
        <option value="">Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
      <label for="floatingGender">Gender</label>
    </div>

    <!-- Date of Birth input field with floating label -->
    <div class="form-floating mb-3">
      <input
        type="date"
        class="form-control"
        id="floatingDob"
        name="dob"
        placeholder="Date of Birth"
        required
      />
      <label for="floatingDob">Date of Birth</label>
    </div>

    <!-- Phone input field with floating label -->
    <div class="form-floating mb-1">
      <input
        type="tel"
        class="form-control"
        id="floatingPhone"
        name="phone"
        placeholder=""
        pattern="[0-9]{10,11}"
        required
      />
      <label for="floatingPhone">Phone Number</label>
      <span class="sample-text">07990563212</span>
    </div>

    <!-- Phone number requirements -->
    <div id="phone-requirements" class="mb-1">
      <p class="mb-3"><i class="neutral fa-solid fa-check me-1"></i>Must be 9-10 digits long</p>
    </div>

    <!-- Email input field with floating label -->
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingEmail"
        name="email"
        placeholder="name@example.com"
        required
      />
      <label for="floatingEmail">Email address</label>
    </div>

    <!-- Password input field with floating label -->
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        name="password"
        placeholder="Password"
        required
        onkeyup="validatePassword()"
      />
      <label for="floatingPassword">Password</label>
      <span class="password-toggle" onclick="togglePasswordVisibility('floatingPassword', 'password-icon')">
        <i id="password-icon" class="fa-regular fa-eye"></i>
      </span>
    </div>

    <!-- Password requirements -->
    <div id="password-requirements" class="mb-3">
      <p id="length" class="neutral me-3"><i class="fa-solid fa-check me-1"></i>At least 8 characters</p>
      <p id="uppercase" class="neutral me-3"><i class="fa-solid fa-check me-1"></i>An uppercase letter</p>
      <p id="number" class="neutral"><i class="fa-solid fa-check me-1"></i>At least one number</p>
    </div>

    <!-- Confirm Password input field with floating label -->
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="floatingConfirmPassword"
        name="confirm_password"
        placeholder="Confirm Password"
        required
      />
      <label for="floatingConfirmPassword">Confirm Password</label>
      <span class="password-toggle" onclick="togglePasswordVisibility('floatingConfirmPassword', 'confirm-password-icon')">
        <i id="confirm-password-icon" class="fa-regular fa-eye"></i>
      </span>
</div>

    <!-- Terms and conditions checkbox -->
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" name="terms" value="agree" required /> I agree to
        the
        <a href="#" data-bs-toggle="modal" data-bs-target="#termsModal">terms and conditions</a>
      </label>
    </div>

    <!-- Sign up button -->
    <button
      class="w-50 btn btn-lg btn-primary"
      type="submit"
      aria-label="Sign Up Button"
    >
      Sign Up
    </button>
  </form>
</main>

<!-- Modal for Terms and Conditions -->
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="termsModalLabel">Terms and Conditions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container mt-5">
          <h1>Terms and Conditions</h1>
      
          <h2>Introduction</h2>
          <p>Welcome to The Knee Surgery. These terms and conditions outline the rules and regulations for the use of The Knee Surgery's Website, located at theknee.surgery.</p>
          <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use The Knee Surgery if you do not agree to take all of the terms and conditions stated on this page.</p>
      
          <h2>Use of the Website</h2>
          <ul>
              <li>You must be at least 18 years of age to use this website.</li>
              <li>You must provide accurate and complete information when creating an account.</li>
              <li>You are responsible for maintaining the confidentiality of your account and password.</li>
          </ul>
      
          <h2>Intellectual Property Rights</h2>
          <p>Unless otherwise stated, The Knee Surgery and/or its licensors own the intellectual property rights for all material on The Knee Surgery. All intellectual property rights are reserved. You may access this from The Knee Surgery for your own personal use subjected to restrictions set in these terms and conditions.</p>
      
          <h2>Limitation of Liability</h2>
          <p>The materials on The Knee Surgery's website are provided on an 'as is' basis. The Knee Surgery makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</p>
      
          <h2>Privacy</h2>
          <p>Please read our <a href="{{ url_for('policy') }}">Privacy Policy</a>.</p>
      
          <h2>Changes to These Terms</h2>
          <p>We reserve the right to amend these terms and conditions at any time. We will notify you of any changes by posting the new terms and conditions on this page.</p>
      
          <h2>Contact Information</h2>
          <p>If you have any questions about these Terms, please contact us at info@theknee.surgery.</p>
      
          <h2>Governing Law</h2>
          <p>These terms and conditions are governed by and construed in accordance with the laws of the United Kingdom and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
      
          <h2>Owner and Developer Information</h2>
          <p>This website is owned by Mr X. All materials are provided by and the development is done by Artem Bryzh. The site, server, and clinic are located in the UK.</p>
      </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block footer_content %}{% endblock %} {% block scripts %}{%
endblock %}
